/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.left {
  flex: 1;
}

.search-bar {
  margin-left: 12px;
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: auto;
  min-width: 120px;
  max-width: 150px;
}


.center {
  flex: 1;
  justify-content: center;
  gap: 30px;
}

.center a {
  text-decoration: none;
  font-weight: 600;
  color: #333;
  font-size: 16px;
  transition: color 0.3s, transform 0.3s;
}

.center a:hover {
  color: #007bff;
  transform: scale(1.05);
}

.right {
  flex: 1;
  justify-content: flex-end;
  gap: 16px;
}

.right a {
  font-size: 20px;
  text-decoration: none;
  color: #333;
}
